/* BASIC STYLES HERE */

main {
  background-image: url(https://e0.pxfuel.com/wallpapers/376/985/desktop-wallpaper-pokemon-laptop-background-cool-pokemon-laptop.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}